*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #1b1a1a;
    margin: auto;
    padding: 10px;

}
.todo {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    border-radius: 5px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2 {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    background: #67f122;
    color: #fff;
    border: none;
    padding: 16px 56px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
}

ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background: #f9f9f9;
}